@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

.conteiner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 400px;
    background: #fafafa;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    position: relative;

}

.box::before {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background: rgba(243, 107, 107, 0.3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 60px;
    z-index: -1;
}

h1 {
    font-weight: 700;
    font-size: 36PX;
    padding: 30px 0px;

}

.content {
    padding: 0px 40px;

}

.innuput {
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 28px;
    padding: 20px 0px;
    margin-bottom: 20px;

}

.innuput label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.innuput input {
    outline: none;
    border: none;
    border-bottom: 1px solid lightblue;
    width: 60%;
    text-align: center;


}

button#calculate {
    color: rgb(0, 0, 0);
    background: lightblue;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 0px;
    width: 100%;
    outline: none;
    border: none;
    transition: 0.3s;

}

button#calculate:hover {
    background: blue;
    color: #fff;
}

.result {
    padding: 30px 20px;
}

.result p{
    font-weight: 600;
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
}

.result .resulte {
    font-size: 36px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    background-color: lightgray;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;

}

#comment{color: blue; font-weight: 800;}
